<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="IE=EDGE" http-equiv="X-UA-Compatible" />
        <title>링크가 올바르지 않아요.</title>
        <meta
            content="인천과학예술영재학교, IASA, IASA PORTAL"
            name="Keywords"
        />
        <meta content="인천과학예술영재학교 통합학사포털" name="Description" />
        <meta
            content="인천과학예술영재학교 통합학사포털"
            http-equiv="Subject"
        />
        <meta content="IASA PORTAL" http-equiv="Title" />
        <meta content="NULL" http-equiv="Author" />
        <meta content="NULL" http-equiv="Publisher" />
        <meta content="NULL" http-equiv="Other Agent" />
        <meta content="Copyright 2019-2021 NULL" http-equiv="Copyright" />
        <meta content="no-cache" http-equiv="Cache-control" />
        <link
            href="//fonts.googleapis.com/earlyaccess/notosanskr.css"
            rel="stylesheet"
        />
        <style>
            html,
            body,
            #main {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
            }

            * {
                font-family: 'Noto Sans KR' !important;
            }

            #main {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            #cont {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            svg {
                width: 300px;
            }
        </style>
    </head>
    <body>
        <div id="main">
            <div id="cont">
                <svg
                    height="489"
                    id="splashSvg"
                    viewBox="0 0 504 489"
                    width="504"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <g transform="translate(-22 -115)">
                        <path
                            d="M120 154l135 78.5L120 311z"
                            fill="#FFFF2D"
                            fill-rule="evenodd"
                            id="logo-flag"
                        />
                        <path
                            d="M127 365h389v233H127z"
                            fill="#5351DB"
                            id="logo-school"
                        />
                        <path
                            d="M237.462 202.729 98.5001 122.5 "
                            fill="none"
                            fill-rule="evenodd"
                            id="logo-l1"
                            stroke="#404040"
                            stroke-linecap="round"
                            stroke-miterlimit="8"
                            stroke-width="13.3333"
                        />
                        <path
                            d="M0 0 207.128 119.585"
                            fill="none"
                            fill-rule="evenodd"
                            id="logo-l2"
                            stroke="#404040"
                            stroke-linecap="round"
                            stroke-miterlimit="8"
                            stroke-width="13.3333"
                            transform="matrix(1 0 0 -1 30.5001 323.085)"
                        />
                        <path
                            d="M97.5001 122.5 97.5002 570.347"
                            fill="none"
                            fill-rule="evenodd"
                            id="logo-l3"
                            stroke="#404040"
                            stroke-linecap="round"
                            stroke-miterlimit="8"
                            stroke-width="13.3333"
                        />
                        <path
                            d="M97.5001 570.5 518.665 570.5"
                            fill="none"
                            fill-rule="evenodd"
                            id="logo-l4"
                            stroke="#404040"
                            stroke-linecap="round"
                            stroke-miterlimit="8"
                            stroke-width="13.3333"
                        />
                        <path
                            d="M0 0 0.000104987 256.624"
                            fill="none"
                            fill-rule="evenodd"
                            id="logo-l5"
                            stroke="#404040"
                            stroke-linecap="round"
                            stroke-miterlimit="8"
                            stroke-width="13.3333"
                            transform="matrix(1 0 0 -1 487.5 597.124)"
                        />
                        <path
                            d="M0 0 418.119 0.000104987"
                            fill="none"
                            fill-rule="evenodd"
                            id="logo-l6"
                            stroke="#404040"
                            stroke-linecap="round"
                            stroke-miterlimit="8"
                            stroke-width="13.3333"
                            transform="matrix(-1 -8.74228e-08 -8.74228e-08 1 486.619 339.5)"
                        />
                    </g>
                </svg>
                <h1>비밀번호를 변경할 수 없어요.</h1>
                <p>링크가 만료되었거나 올바르지 않은 링크에요.</p>
                <br />
                <h3>Copyright 2019-2021 NULL. All right reserved.</h3>
            </div>
        </div>
    </body>
</html>
