@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body, #app {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#app {
    min-height: 100vh;
}

.mdc-drawer--modal {
    z-index: 9 !important;
}

.mdc-drawer-scrim {
    z-index: 8;
}

.before-fadein {
    padding-top: 40px;
    opacity: 0;
}

.fadein {
    animation: fadein 0.2s cubic-bezier(0, 1, 0, 1);
}

@keyframes fadein {
    0% {
        padding-top: 40px;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

:root {
    --mdc-theme-primary: #5351db !important;
    --mdc-theme-secondary: #8cc4de !important;
    --mdc-theme-on-primary: #fff !important;
    --mdc-theme-on-secondary: #fff !important;
}

*::selection {
    background: var(--mdc-theme-primary);
    color: var(--mdc-theme-on-primary);
}

a {
    color: var(--mdc-theme-primary);
    text-decoration: none;
}

.rmwc-circular-progress {
    font-size: 1.5rem;
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: var(--mdc-theme-primary, #6200ee);
}

.rmwc-circular-progress--size-xsmall {
    font-size: 1.125rem;
}

.rmwc-circular-progress--size-small {
    font-size: 1.25rem;
}

.rmwc-circular-progress--size-medium {
    font-size: 1.5rem;
}

.rmwc-circular-progress--size-large {
    font-size: 2.25rem;
}

.rmwc-circular-progress--size-xlarge {
    font-size: 3rem;
}

.rmwc-circular-progress--indeterminate .rmwc-circular-progress__circle {
    animation: rmwc-circular-progress-indeterminate-bar-rotate 2s linear infinite;
}

.rmwc-circular-progress--indeterminate .rmwc-circular-progress__path {
    animation: rmwc-circular-progress-indeterminate-bar-dash 1.5s ease-in-out infinite;

    stroke-dasharray: 2.08%, 416%;
    stroke-dashoffset: 0;
}

.rmwc-circular-progress__circle {
    height: 100%;
    width: 100%;
}

.rmwc-circular-progress__path {
    -webkit-transition: stroke-dasharray 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    transition: stroke-dasharray 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    fill: none;
    stroke-dasharray: 0, 416%;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-miterlimit: 20;
    stroke-width: 0.125rem;
    stroke: currentColor;
}

.rmwc-circular-progress--thickerstroke .rmwc-circular-progress__path {
    stroke-width: 0.25rem;
}

/** Overrides for icons */
.rmwc-icon .rmwc-circular-progress {
    font-size: inherit;
}

@keyframes rmwc-circular-progress-indeterminate-bar-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rmwc-circular-progress-indeterminate-bar-dash {
    0% {
        stroke-dasharray: 2.08%, 416%;
        stroke-dashoffset: 0%;
    }
    50% {
        stroke-dasharray: 185.4%, 416%;
        stroke-dashoffset: -72.9%;
    }
    to {
        stroke-dasharray: 185.4%, 416%;
        stroke-dashoffset: -258.33%;
    }
}

.rmwc-collapsible-list__children {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height .3s, opacity .3s;
    transition: max-height .3s, opacity .3s;
    opacity: 0;
}

.rmwc-collapsible-list__handle .mdc-list-item__meta {
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rmwc-collapsible-list--open > .rmwc-collapsible-list__handle .mdc-list-item__meta {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rmwc-collapsible-list--open > .rmwc-collapsible-list__children {
    opacity: 1;
}

.mdc-list--two-line.mdc-list-item {
    height: 72px;
}

.mdc-dialog {
    z-index: 11;
}

.mdc-list-item__primary-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0;
    line-height: normal;
    margin-bottom: -20px;
    display: block;
}

.mdc-list-item__secondary-text {
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: .0178571429em;
    text-decoration: inherit;
    text-transform: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0;
    line-height: normal;
    display: block;
}

.mdc-list-item__secondary-text {
    color: rgba(0, 0, 0, .54);
    color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, .54));
}

.mdc-list--two-line .mdc-list-item__text {
    align-self: flex-start;
}

.mdc-card {
    box-shadow: none;
    border: #ddd 1px solid;
    overflow: hidden;
}

*:not(.rmwc-icon) {
    font-family: 'Noto Sans KR' !important;
}

.mdc-list-item {
    white-space: nowrap;
}

.signin-animate {
    transition: left 0.3s ease 0s;
}
